<!DOCTYPE html>
html(lang="en")
head
	meta(charset="UTF-8")
	title #{title}
body
	li
		a(href="/") 主页
	li
		a(href="/flash") 动画
	li
		a(href="/flam") 电影
	li
		a(href="/story") 小说

	block content

	h2 下面的文件
	