doctype html
html(lang='en')
    head
        title Jade
    body
        form(action="/",method="post")
            input(type="text" name="username")
            input(type="text" name="password")
            button 注册