doctype html
html(lang='en')
    head
        title login
    body
        form.myform(action="/" method="post")
            input.username(name="username" placeholder="用户名")
            input.password(name="password" placeholder="密码")
            button 登陆
        script(src="script/jquery.js")
        //script(src="script/gain.js")


