doctype html
html(lang='en')
    head
        title Jade
    body
        form(action="/",method="post")
            input(name="username")
            input(name="password")
            button 登陆
        h3 #{hinfo}